<h1>MyApp - Danh sách điện thoại</h1>
<header class="header">
  <div class="logo">MyPhoneStore</div>
  <nav>
    <span><a href="#">Home</a></span>

    <a href="#">Products</a>

    <a href="#">Cart</a>

    <a href="#">Contact</a>
  </nav>
</header>


<div class="products-container">
  <div *ngFor="let item of products" class="product-card">
    <img [src]="item.imageUrl" [alt]="item.name" />
    <h3>{{ item.name }}</h3>
    <p>{{ item.description }}</p>

    <div class="price">
      <ng-container *ngIf="item.discount > 0; else noDiscount">
        <span class="old-price">{{ item.price | number }}</span>
        <span class="new-price">
          {{ (item.price * (1 - item.discount / 100)) | number }}
        </span>
      </ng-container>
      <ng-template #noDiscount>
        <span class="new-price">{{ item.price | number }}</span>
      </ng-template>
    </div>

    <button>Thêm vào giỏ hàng</button>
  </div>
</div>
